.pageHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
    width: 100%;
    height: 400px;
    margin-top: 200px;
}



.bannerMB {
    display: none;
}

.bannerLG {
    display: block;
}



@media (max-width: 1024px) {
    .pageHeader {
        margin-top: 160px;
    }

    .pageHeader h1 {
        font-size: 4.5em;
    }

    .bannerMB {
        display: none;
    }

    .bannerLG {
        display: block;
    }
}

@media (max-width: 768px) {

    .bannerLG {
        display: none;
    }

    .bannerMB {
        display: block;
    }


    .pageHeader {
        margin-top: 120px;
        height: auto;
        gap: 20px;
    }

    .pageHeader h1 {
        font-size: 2.8em;
    }

    .pageHeader span {
        font-size: 1em;
    }
}