.footer {
    border-top: 1px solid rgb(255, 119, 0);
    background-color: #411801;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 0.7em;
    color: white;
    padding: 40px 40px 80px 40px;
    text-align: center;
}

.innerFooter {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.innerFooter img {
    width: 150px;
}

@media (max-width: 768px) {
    .footer {
        padding: 40px 20px 60px;
    }

    .innerFooter {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
}