.adCard {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    font-weight: 800;
    background-color: rgb(177, 177, 177);
    border-radius: 5px;
}


@media (max-width: 480px) {

    .adCard {
        height: 200PX;
    }


}